.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--light);
    background-color: var(--dark);
}

.hero-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hero-content {
    display: flex;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    height: 72.9rem;
    background-image: var(--headerDesktop);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40rem;
    height: auto;
}

.hero-subtitle {
    color: var(--grey);
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1.2rem;
    margin-bottom: 15px;
}

.hero-details h1 {
    margin-bottom: 24px;
}

.hero-details p {
    color: var(--grey);
    letter-spacing: 0.2rem;
    margin-bottom: 30px;
    word-wrap: break-word;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

@media screen and (max-width: 1180px) {
    .hero-content {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1110px;
        width: 100%;
        height: 72.9rem;
        background-image: var(--headerTablet);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .hero-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


@media screen and (max-width: 989px) {

    .hero-content {
        max-width: 1110px;
        width: 100%;
        height: 72.9rem;
        
    }

    .hero-details {
        margin: 0 3rem;
    }

    .hero-details h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 497px) {
    .hero-content {
        display: flex;
        align-items: center;
        max-width: 1440px;
        width: 100%;
        height: 72.9rem;
        background-image: var(--headerMobile);
    }

    .hero-details h1 {
        font-size: 4rem;
    }
}